*~
*.bai
py-docs/_build/
py-docs/modules.rst
py-docs/riboviz*.rst
.coverage
*.db
.DS_Store
*.fai
.gitignore
.idea/
.nextflow*
oldData/
*.pyc
__pycache__
.RData
.Rhistory
rmarkdown/*.html
*~
*.pyc
__pycache__
.idea/
riboviz.Rproj
.Rproj.user
rmarkdown/script_for_transcript_annotation.nb.html
vignette/*index
vignette/*logs
vignette/*output
vignette/*tmp
work
*.bai
*.fai
