.gitignore
.coverage
.DS_Store
oldData/
.Rproj.user
riboviz.Rproj
.RData
.Rhistory
Shiny/2009
Shiny/2010
Shiny/Supp
scripts/script_for_transcript_annotation.nb.html
*~
*.pyc
__pycache__
.idea/
vignette/*index
vignette/*logs
vignette/*tmp
vignette/*output
code-docs/_build/
code-docs/modules.rst
code-docs/riboviz*.rst
