*.bai
*.db
*.egg-info/
*.fai
*.pyc
*~
.DS_Store
.RData
.Rhistory
.Rproj.user
.coverage
.gitignore
.idea/
.nextflow*
__pycache__
build/
oldData/
py-docs/_build/
py-docs/modules.rst
py-docs/riboviz*.rst
report.html
riboviz.Rproj
rmarkdown/*.html
rmarkdown/script_for_transcript_annotation.nb.html
vignette/*index
vignette/*logs
vignette/*output
vignette/*tmp
work
