params.executor='SGE'
params.prefix_shell="""
. /etc/profile.d/modules.sh
export R_LIBS=/exports/csce/eddie/biology/groups/wallace_rna/Rlibrary
module load igmm/apps/BEDTools
module load igmm/apps/bowtie
module load igmm/apps/hdf5
module load igmm/apps/HISAT2
module load igmm/apps/pigz
module load igmm/apps/R/3.6.3
module load anaconda
set +u
source activate riboviz
lscpu
"""

process {
  withName: cutAdapters {
    executor='sge'
    time={process_time.get(sample_id+"cutadapt", params.default_time)}
    penv="sharedmem"
    cpus={execution_cpu["multiple_core"]}
    clusterOptions="-l h_vmem=8G"
  }
  withName: cutAdaptersMultiplex {
    executor='sge'
    time={process_time.get(multiplex_id+"cutadaptersmultiplex", params.default_time)}
    penv="sharedmem"
    cpus={execution_cpu["multiple_core"]}
    clusterOptions="-l h_vmem=8G"
  }
  withName: hisat2rRNA {
    executor='sge'
    time={process_time.get(sample_id+"hisat2rrna", params.default_time)}
    penv="sharedmem"
    cpus={execution_cpu["multiple_core"]}
    clusterOptions="-l h_vmem=8G"
  }
  withName: hisat2ORF {
    executor='sge'
    time={process_time.get(sample_id+"hisat2orf", params.default_time)}
    penv="sharedmem"
    cpus={execution_cpu["multiple_core"]}
    clusterOptions="-l h_vmem=8G"
  }
  withName: trim5pMismatches {
    executor='sge'
    time={process_time.get(sample_id+"trim5pmismatches", params.default_time)}
    penv="sharedmem"
    cpus={execution_cpu["single_core"]}
    clusterOptions="-l h_vmem=8G"
  }
  withName: samViewSort {
    executor='sge'
    time={process_time.get(sample_id+"samviewsort", params.default_time)}
    penv="sharedmem"
    cpus={execution_cpu["multiple_core"]}
    clusterOptions="-l h_vmem=8G"
  }
  withName: makeBedgraphs {
    executor='sge'
    time={process_time.get(sample_id+"makebedgraphs", params.default_time)}
    penv="sharedmem"
    cpus={execution_cpu["single_core"]}
    clusterOptions="-l h_vmem=8G"
  }
  withName: bamToH5 {
    executor='sge'
    time={process_time.get(sample_id+"bamtoh5", params.default_time)}
    penv="sharedmem"
    cpus={execution_cpu["multiple_core"]}
    clusterOptions="-l h_vmem=8G"
  }
  withName: generateStatsFigs {
    executor='sge'
    time={process_time.get(sample_id+"generatestatsfigs", params.default_time)}
    penv="sharedmem"
    cpus={execution_cpu["multiple_core"]}
    clusterOptions="-l h_vmem=8G"
  }
  withName: staticHTML {
    executor='sge'
    time="5m"
    penv="sharedmem"
    cpus={execution_cpu["single_core"]}
    clusterOptions="-l h_vmem=8G"
  }
  withName: countReads {
    executor='sge'
    time={params.default_time}
    penv="sharedmem"
    cpus={execution_cpu["multiple_core"]}
    clusterOptions="-l h_vmem=8G"
  }
}